@font-face {
    font-family: "Fira";
    src: url("/src/assets/fonts/firacode/FiraCode-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Fira";
    src: url("/src/assets/fonts/firacode/FiraCode-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Fira";
    src: url("/src/assets/fonts/firacode/FiraCode-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }